.yui-overlay{position:absolute;}#tlsWarning #tlsWarningHeader{margin-top:10px;font-size:larger;font-weight:bold;}#tlsWarning .tlsWarningText{padding-bottom:5px;}#advancedOptions{display:none;}#sshDetailsContainer button{padding-left:0;}
#trialWarningBlock{display:none !important ;}
#divTrialLicenseWarning{display:none !important;}

div[style="background-color: #FCF8E1; padding: 10px 30px 10px 50px; border: 1px solid #F6C342; margin-bottom: 20px; border-radius: 2px; color: black;"] { display: none; }
