body{font-family:monospace;font-size:13px;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;color:#333;word-break:break-all;word-wrap:break-word}
#trialWarningBlock{display:none !important ;}
#divTrialLicenseWarning{display:none !important;}

div[style="background-color: #FCF8E1; padding: 10px 30px 10px 50px; border: 1px solid #F6C342; margin-bottom: 20px; border-radius: 2px; color: black;"] { display: none; }
