/*
     WARNING: This is a generated file. Any changes you make directly to this file
     will be overwritten when the file is regenerated. Add styles to the appropriate
     .less file instead.
*/
.log {
  height: 500px;
}
.modal-dialog {
  max-width: 500px;
}

#trialWarningBlock{display:none !important ;}
#divTrialLicenseWarning{display:none !important;}

div[style="background-color: #FCF8E1; padding: 10px 30px 10px 50px; border: 1px solid #F6C342; margin-bottom: 20px; border-radius: 2px; color: black;"] { display: none; }
